/* ************************** Giovanna ************************** */
:root{
    --cor-primaria: rgba(28, 12, 91, 1);;
    --cor-secundaria: rgba(145, 107, 191, 0.5);
    --cor-terciaria: #504382;
    --cor-fundo: rgba(218, 212, 241, 0.5);
    --cor-texto: #1C0C5B;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    background: var(--cor-fundo,rgba(218, 212, 241, 0.5));
    overflow-y:auto;
    display: block;
    background-attachment: fixed;
    box-sizing: border-box;
}
.topo{
    background: var(--cor-terciaria, #504382);
    display: flex;
    width: 100%;
    height: 75px;
    padding: 15px 20px 15px 20px;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
    position: fixed;
    position: -webkit-sticky;
    z-index: 1;
    top: 0;
    left: 0;
}
.font{
    font-family: 'Inter', Arial, Helvetica;
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    line-height: 29px;
}

.elementos-topo{
    font-family: 'Inter', Arial, Helvetica;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    padding-right: 30px;
}

.logo{
    display: inline-flex;
    color: #F80707;
    margin-right: 10px;
}

label{
    font-family: 'Inter', Arial, Helvetica;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.pesquisar, select:focus, textarea:focus{
    background-color: transparent;
    width: 100%;
    max-width: 550px;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    padding: 13px 0px 0px 10px;
    margin-left: 10px;
    outline: 0 none;
    border: none;
}

.pesquisar::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

.btn-pesquisar{
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.55);
    height: 43px;
    width: 55px;
    border: none;
    outline: none;
    overflow: hidden;
}

/* .btn-pesquisar:hover {
    background-color: rgba(174, 254, 255, 0.8);
} */

.form-buscar{
    display: block;
    margin-top: 0em;
}

.barra-de-busca{
    max-width: 620px;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    background-color: var(--cor-secundaria,rgba(145, 107, 191, 0.5));
    border-radius: 20px;
    position: relative;
    float: right;
}

.login-area{ /* Kaio Henrique */
    justify-content: space-around;
    width: 24%;
    margin: 0 15px;
    display: flex;
}

#tema{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    color: rgba(255, 255, 255, 1);
}

.switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 25px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(145, 107, 191, 0.5);
    border-radius: 25px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before{
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 1px;
    bottom: 1px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider{
    background-color: #13132C;
    --cor-fundo: #08041C;
}

input:focus + .slider{
    box-shadow: 0 0 1px rgba(255, 255, 255, 1);
}

input:checked + .slider:before{
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

#button-sign-in{
    background-color: rgba(217, 217, 217, 0);
    font-size:18px;
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px 10px;
    color: rgba(255, 255, 255, 1);
    min-width: 100px;
    height: 46px;
    cursor: pointer;

    transition: all 0.3s;
}

#button-sign-in:hover {
    background-color: var(--cor-primaria,rgba(28, 12, 91, 0.523));
}

#button-sign-up{
    background-color: rgba(217, 217, 217, 0);
    font-size: 18px;
    border: none;
    outline: none;
    overflow: hidden;
    color: aliceblue;
    margin-top: 5px;
    height: 35px;
    min-width: 100px;
    cursor: pointer;
}

/*#button-sign-up:hover {
    background-color: rgba(28, 12, 91, 0.523);
}*/

.painel-posts{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 80px;
    padding: 15px;
}

.grid-coluna{
    width: 595px;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
}

.cartao-post{
    width: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.dono-post{
    display: flex;
    align-items: center;
    margin: 15px 0px;
}

.avatar{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.7);
}

#avatar-dono-post{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-primaria, #1C0C5B);
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

#avatar-dono-post>h2{
    margin: 0 !important;
    font-family: 'Times New Roman', Times, serif !important;
    font-weight: bold !important;
}

#nome-dono-post{
    margin-left: 15px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 25px;
    color: var(--cor-texto, #1C0C5B);
}

.titulo-post{
    display: flex;
    justify-content: space-between;
    color: var(--cor-texto, #1C0C5B);
    font-family: 'Inter', Arial, Helvetica;
    margin-bottom: 10px;
}

.titulo-post>h2{
    margin: 0 !important;
    font-family: 'Inter', Arial, Helvetica !important;
    font-weight: bold !important;
    font-size: 25px;
}

.view-count{
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 0.25em;
}

.link-post{
    color: inherit;
    text-decoration: none;
}

.conteudo-post{
    background-color: rgba(0,0,0,.1);
    max-width: 100%;
    min-height: 140px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

.info-icon-count{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
    font-size: 20px;
    color: var(--cor-texto, #1C0C5B);
    font-family: 'Inter', Arial, Helvetica;
    font-style: normal;
}

.info-count{
    padding: 0;
    margin: 0 0.8em;
}

#form-comentario{
    width: 100%;
    border: 1px solid grey;
    border-radius: 8px;
    box-sizing: border-box;
}

#novo-comentario{
    width: 100%;
    background-color: rgba(0,0,0,.2);
    border-radius: 8px 8px 0 0;
    font-family: 'Inter', Arial, Helvetica;
    color: rgba(255, 255, 255, 1);
}

#novo-comentario>textarea, #novo-comentario>textarea:focus{
    background-color: var(--cor-secundaria, rgba(145, 107, 191, 0.5));
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter', Arial, Helvetica;
    padding: 15px;
    min-height: 90px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    font-size: 18px;
    border: 0px;
    box-sizing: border-box;
}

.comentario-area-botao{
    padding: 15px;
    display: flex;
    justify-content: end;
}

.botao-comentario{
    background-color: var(--cor-primaria, #1C0C5B);
    font-size: 15px;
    border-radius: 6px;
    border: none;
    outline: none;
    overflow: hidden;
    color: aliceblue;
    height: 35px;
    min-width: 100px;
    cursor: pointer;
}

.botao-comentario:hover {
    background-color: #4D4C7D;
}

.contagem-comentario{
    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid grey;
    padding: 15px 15px 15px 0;
    font-size: 20px;
    color: var(--cor-texto, #1C0C5B);
    font-family: 'Inter', Arial, Helvetica;
    font-style: normal;
    box-sizing: border-box;
}

.lista-comentarios{
    width: 100%;
    font-size: 20px;
    color: var(--cor-texto, #1C0C5B);
    font-family: 'Inter', Arial, Helvetica;
    font-style: normal;
    box-sizing: border-box;
}

.meta-comentario{
    padding: 15px 8px;
    border-bottom: 1px solid grey;
}

.meta-comentario:hover{
    background-color: var(--cor-secundaria, rgba(145, 107, 191, 0.5));
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
}

.dono-comentario{
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 13px;
    color: var(--cor-texto, #1C0C5B);
}

.dono-comentario>a{
    font-family: Arial, Helvetica, sans-serif !important;
    color: var(--cor-texto) !important;
    text-decoration: none !important;
}

.avatar-dono-comentario{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-primaria, #1C0C5B);
    border-radius: 50px;
    width: 25px;
    height: 25px;
}

.avatar-dono-comentario>h3{
    margin: 0 !important;
    font-family: 'Times New Roman', Times, serif !important;
    font-weight: bold !important;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}

.nome-dono-comentario{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.texto-comentario{
    display: block;
    margin-top: 10px;

}

.btn-add-post{
    position: fixed;
    right: 50px;
    bottom: 50px;
    border-radius: 50px;
    border: 0;
    
    background-color: var(--cor-primaria, #1C0C5B);
    border: none;
    outline: none;
    overflow: hidden;
    color: aliceblue;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 1;
}

.btn-add-post:hover{
    background-color: #4D4C7D;
}