:root{
    --cor-primaria: rgba(28, 12, 91, 1);
    --cor-secundaria: rgba(145, 107, 191, 0.5);
    --cor-terciaria: #504382;;
    --cor-fundo: rgba(218, 212, 241, 0.5);
    --cor-texto: #1C0C5B;
}

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cor-fundo, #DFDCEB);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.font{
    font-family: 'Inter', Arial, Helvetica;
    font-style: normal;
    font-weight: 400;
}

.login{
    height: auto;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-sizing: border-box;
}

.login-sup{
    top: -35px;
    left: 25%;
    right: 25%;
    position: absolute;
    z-index: 1;
}

.login-sup>a{
    display: inline-block;
    line-height: 0;
}

.login-inf{
    background-color: var(--cor-primaria, #1C0C5B);
    border-radius: 20px;
    padding: 30px 40px;
    position: relative;
    box-shadow: 9px 9px 20px rgba(0, 0, 0, 0.21);
}

#form-login{
    position: relative;
}

input, select:focus, textarea:focus{
    width: 400px;
    height: 50px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: var(--cor-secundaria, rgba(145, 107, 191, 0.5));
    border-color: var(--cor-secundaria, rgba(145, 107, 191, 0.5));
    outline: 0;
    font-family:'Inter', Arial, Helvetica;
    font-size: 20px;
}

#email{
    padding-left: 15px;
    font-family: 'Inter', Arial, Helvetica;
    color: rgba(255, 255, 255, 1);
}

#email::placeholder{
    color: rgba(255, 255, 255, 0.55);
}

#user{
    padding-left: 15px;
    font-family: 'Inter', Arial, Helvetica;
    color: rgba(255, 255, 255, 1);
}

#user::placeholder{
    color: rgba(255, 255, 255, 0.55);
}

#password{
    padding-left: 15px;
    font-family: 'Inter', Arial, Helvetica;
    color: rgba(255, 255, 255, 1);
}

#password::placeholder{
    color: rgba(255, 255, 255, 0.55);
}

#area-botao{
    display: flex;
    justify-content: end;
}

#sign-in{
    background-color: var(--cor-secundaria, rgba(145, 107, 191, 0.5));
    height: 55px;
    width: 100px;
    border: none;
    outline: none;
    margin: 0;
    border-radius: 10px;
    font-family: 'Inter', Arial, Helvetica;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

#sign-in:hover{
    background-color: var(--cor-primaria, #1C0C5B);
}