*{
    padding: none;
    margin: none;
}

body {
    background-color: #072227;
    display: block;
}

.login{
    height: auto;
    width: 500px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.login-sup{
    margin-block-end: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-nome{
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Audiowide", sans-serif;
    color: #F80707;
}

.login-inf{
    background-color: rgba(53, 133, 139, 0.5);
    height: 220px;
    border-radius: 10px;
    padding: 30px 40px;
    position: relative;
    box-shadow: 12px 16px 10px #000000;
}

input, select:focus, textarea:focus{
    width: 400px;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #072227;
    border-color: #072227;
    outline: 0;
    font-family:'Comics Sans MS', cursive ,'Irish Grover';
    font-size: 20px;
}

#user{
    padding-left: 15px;
}

#password{
    padding-left: 15px;
}

#sign-in{
    background-color: #35858B;
    border-color: #35858B;
    height: 55px;
    width: 100px;
    border: none;
    outline: none;
    border-radius: 10px;
    position: absolute;
    right: 40px;
    font-family:'Comics Sans MS', cursive ,'Irish Grover';
    font-size: 20px;
}