/* ************************** Giovanna ************************** */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #072227;
    display: block;               
}
.topo{
    background-color: #171544;
    display: inline-flex;
    width: 100vw;
    height: 88px;
    justify-content: center;         
}
.font{
    font-family:'Comics Sans MS', cursive ,'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    line-height: 29px;
}

.elementos-topo{
    padding-right: 30px;
    margin-top: 13px;
}

#logo{
    padding-right: 30px;
}

.logo{
    display: inline-flex;
    color: #F80707;
    margin-top: 15px;
}

label{
    font-family: cursive;
    line-height: 29px;
}

.pesquisar, select:focus, textarea:focus{
    border: 3px solid rgba(174, 254, 255, 0.4);
    width: 795px;
    background-color: rgba(174, 254, 255, 0.4);
    height: 43px;
    border-radius: 50px;
    padding-left: 30px;
    outline: 0;
}

.pesquisar::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

.btn-pesquisar{
    left: -7%;
    top: 3px;
    display: inline-block;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    color: #AEFEFF;
    height: 43px;
    width: 55px;
    border-radius: 50px;
    border: none;
    outline: none;
    overflow: hidden;
}

/* .btn-pesquisar:hover {
    background-color: rgba(174, 254, 255, 0.8);
} */

.barra-de-busca{
    padding-left: 125px;
    display: inline-flex;
    margin-top: 20px;
}

.login-area{ /* Kaio Henrique */
    margin-left: 20px;
    margin-top: 17px;
    justify-content: center;
}

#button-sing-in{
    background-color: #35858B;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    overflow: hidden;
    color: aliceblue;
    height: 55px;
    width: 137px;
    cursor: pointer;
}
#button-sing-in:hover {
    background-color: #346568;
}

#button-sing-up{
    background-color: #34C642;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    overflow: hidden;
    color: aliceblue;
    margin-left: 25px;
    height: 55px;
    width: 137px;
    cursor: pointer;
}
#button-sing-up:hover {
    background-color: #24842d;
}


.menu{
    background-color: #1E5359;
    margin-top: 30px;
    padding: 15px;
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.categorias-menu{
    height: 135px;
    width: 147px;
    background-color: #AEFEFF;
    border-radius: 20px;
    margin-left: 45px;
    margin-right: 45px;
}

.button-name-category{
    width: 147px;
    height: 46.5px;
    color: #AEFEFF;
    font-size: 20px;
    background-color: #35858B;
    margin-top: 95px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    
}

.button-name-category:hover{
    background-color: #346568;
}

/* ************************** Giovanna ************************** */

/* ************************** Kaio Henrique ************************** */

.painel-posts{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

.grid-coluna{
    width: 240px;
    margin-left: 10px;
    margin-right: 10px;
}

.cartao-post{
    width: 240px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    border-radius: 5px;
}

.link-post{
    color: inherit;
    text-decoration: none;
}

.conteudo-post{
}

.meta-dados-post{
    height: 40px;
    padding: 10px;
    background-color: #35858B;
}

.titulo-post{
    color: #AEFEFF;

}

.info-post{
    display: inline-flex;
    justify-content: center;
    width: 95%;
    color: #AEFEFF;
    margin: 5px;
}

/* ************************** Kaio Henrique ************************** */