/* ************************** Giovanna ************************** */
* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    background: rgba(218, 212, 241, 0.5);
    overflow-y:auto;
    display: block;
    background-attachment: fixed;
}
.topo{
    background: #504382;
    display: flex;
    width: 100%;
    height: 45px;
    padding: 15px;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
    position: fixed;
    position: -webkit-sticky;
    z-index: 1;
    top: 0;
    left: 0;
}
.font{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    line-height: 29px;
}

.elementos-topo{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    padding-right: 30px;
}

.logo{
    display: inline-flex;
    color: #F80707;
    margin-right: 10px;
}

label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.pesquisar, select:focus, textarea:focus{
    background-color: transparent;
    width: 100%;
    max-width: 550px;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    padding: 13px 0px 0px 10px;
    margin-left: 10px;
    outline: 0 none;
    border: none;
}

.pesquisar::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

.btn-pesquisar{
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.55);
    height: 43px;
    width: 55px;
    border: none;
    outline: none;
    overflow: hidden;
}

/* .btn-pesquisar:hover {
    background-color: rgba(174, 254, 255, 0.8);
} */

.form-buscar{
    display: block;
    margin-top: 0em;
}

.barra-de-busca{
    max-width: 620px;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    background-color: rgba(145, 107, 191, 0.5);
    border-radius: 20px;
    margin-left: 447px;
    position: relative;
    float: right;
}

.login-area{ /* Kaio Henrique */
    justify-content: space-around;
    width: 20%;
    margin: 0 25px;
    display: flex;
}

#button-sign-in{
    background-color: rgba(217, 217, 217, 0);
    font-size:18px;
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px 10px;
    color: rgba(255, 255, 255, 1);
    min-width: 100px;
    cursor: pointer;

    transition: all 0.3s;
}

#button-sign-in:hover {
    background-color: rgba(28, 12, 91, 0.523);
}

/* #button-sign-in:hover {
    background-color: rgba(217, 217, 217, 0.7);
} */

#button-sign-up{
    background-color: rgba(217, 217, 217, 0);
    font-size: 18px;
    border: none;
    outline: none;
    overflow: hidden;
    color: aliceblue;
    margin-top: 5px;
    height: 35px;
    min-width: 100px;
    cursor: pointer;
}

/* #button-sign-up:hover {
    background-color: #24842d;
} */


.menu{
    margin-top: 90px;
    padding: 15px;
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.categorias-menu{
    height: 135px;
    width: 147px;
    background-color: rgba(145, 107, 191, 0.5);
    border-radius: 10px;
    margin-left: 45px;
    margin-right: 45px;
    box-shadow: 9px 9px 20px rgba(0, 0, 0, 0.21);
    text-align: center;
}

.button-name-category{
    width: 147px;
    height: 46.5px;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    background-color: rgba(28, 12, 91, 1);
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    
}

.button-name-category:hover{
    background-color: #4D4C7D;
}

hr{
    margin-top: 30px;
    border: 0;
	border-top: 1px solid rgb(0 0 0 / 16%);
}

/* ************************** Giovanna ************************** */

/* ************************** Kaio Henrique ************************** */

.painel-posts{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    padding: 15px;
}

.grid-coluna{
    width: 240px;
    margin-left: 10px;
    margin-right: 10px;
}

.cartao-post{
    width: 240px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    border-radius: 5px;
}

.cartao-post:hover{
    box-shadow: 9px 9px 20px rgba(0, 0, 0, 0.21);
}

.link-post{
    color: inherit;
    text-decoration: none;
}

.conteudo-post{
}

.meta-dados-post{
    height: 0%;
    padding: 10px;
    background-color: rgba(28, 12, 91, 1);
}

.titulo-post{
    font-family: 'Inter';
    color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;
    text-shadow: 9px 9px 20px rgba(0, 0, 0, 0.21);
}

.info-post{
    display: inline-flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 1);
    width: 220px;
}

.info-icon-count{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-count{
    padding: 0;
    margin: 0 0.25em;
}

.btn-add-post{
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    right: 50px;
    bottom: 50px;
    border-radius: 50px;
    border: 0;
    
    background-color: rgba(28, 12, 91, 1);
    border: none;
    outline: none;
    overflow: hidden;
    color: aliceblue;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 1;
}

.btn-add-post:hover{
    box-shadow: 9px 9px 20px rgba(0, 0, 0, 0.21);
    background-color: #4D4C7D;
}


/* ************************** Kaio Henrique ************************** */