backend/node_modules
backend/.env
backend/public/images/users/*.png
backend/public/images/users/*.jpg
backend/public/images/users/*.jpeg
backend/public/images/users/*.gif
backend/public/images/posts/*.png
backend/public/images/posts/*.jpg
backend/public/images/posts/*.jpeg
backend/public/images/posts/*.gif